<h1>Create new celebrity</h1>
<form action="/celebrities" method="POST">
  <input type="text" name="name">
  <input type="text" name="occupation">
  <input type="text" name="catchPhrase">
  <button type="submit">Create a Celeb</button>
</form>